## vim: set tabstop=4: set shiftwidth=4: set expandtab
<%inherit file="body.html"/>
<script language="javascript">
    $(document).ready(
        function() {
            $('#list li:odd a').addClass('oddrow');
            $('#list li:even a').addClass('evenrow');
        }
    );
</script>

<style>
    body {
        margin:0;
        padding:0;
        background-color:#eeeeee;
    }
</style>

<div id="container-artists">
    <ul id="list">
        <a name='jump#'></a>
        <li><a onclick="artistAlbums('')">[All artists]</a></li>
        <% lastlead = '' %>

        % for artist in c.artists:
            <%
				try:
					if artist.startswith((u'The ',u'THE ',u'the ')):
						firstchar = artist[4].lower()
					else:
						firstchar = artist[0].lower()
				except IndexError:
					firstchar = ''
            %>  
            <li>
                % if firstchar != lastlead:
                    <a name="jump${firstchar}"></a>
                % endif
                <a onclick="artistAlbums('${h.escape_js(artist)}')">${artist}</a>
            </li>
            <% lastlead = firstchar %>
        % endfor
    </ul>
</div>
