<div id="container-tracks">
    % if len(c.artists) == 0 and len(c.albums) == 0 and len(c.tracks) == 0:
        <div style="margin:20px">nothing found</div>
    % endif

    % if len(c.artists):
        <div class="searchresultsbox">
            <h4>artists</h4>
            <ul id="list">
            % for a in c.artists:
                <%
                    try:
                        if a.startswith((u'The ',u'THE ',u'the ')):
                            firstchar = a[4].lower()
                        else:
                            firstchar = a[0].lower()
                    except IndexError:
                        firstchar = ''
                %>  
                <li><a onclick="artistAlbums('${h.escape_js(fixed_artist)}')">${fixed_artist}</a></li>
            % endfor
            </ul>
        </div>
    % endif

    % if len(c.albums):
        <div class="searchresultsbox">
            <h4>albums</h4>
            <ul id="list">
            % for a in c.albums:
                <%
                    artist = a[0]
                    album = a[1]
                %>
                <li><a onclick="artistAlbums('${h.escape_js(artist)}');albumTracks('${h.escape_js(artist)}','${h.escape_js(album)}')">${artist} - ${album}</a></li>
            % endfor
            </ul>
        </div>
    % endif

    % if len(c.tracks):
        <div class="searchresultsbox">
            <h4>tracks</h4>
            <ul id="list">
            % for t in c.tracks:
                <%
                    artist = t[0]
                    album = t[1]
                    title = t[2]
                %>
                <li><a onclick="addToPlaylist('${h.html.url_escape(t[3].encode('utf-8'))}')"><img src="/img/add.png" /> ${artist} - ${title}</a></li>
            % endfor
        </ul>
    % endif
</div>

